button {
  background-image: linear-gradient(45deg, #ffbb9b99, #fff 92%);
  border-color: #0006;
  cursor: pointer;
  border-radius: 5px;
  color: #344648;
  border: 1px solid #00000036;
  font-weight: 500;
}
