.card-bg {
  background-image: linear-gradient(180deg, white, rgba(255, 187, 155, 0.01), white);
}

.card-hover img {
  transition: all 240ms ease-in-out;
}

.card-hover:hover img {
  transform: scale(1.1);
  filter: brightness(1.05);
}
